@media all and (min-width: 480px) {
    .Signup {
      /* padding: 60px 0; */
      /* The image used */
      background: url(../../images/lesly-derksen-F4fH5dAfZnE-unsplash.jpg)
        no-repeat center center fixed;
  
      /* Center and scale the image nicely */
  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: "100vw";
      height: "100vh";
    }

    .Signup form {
      margin: 0 auto;
      max-width: 320px;
      position: relative;
      top: -350px;
    }
    .form-group {
      color: white;
    }
    .bottom-text {
      color: white;
      text-align: center;
      position: relative;
      /* bottom: 200px; */
    }
    .signup-header {
      color: white;
      text-align: center;
    }
   
  }
  