.NavbarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  align-self: flex-start;
}

.fa-campground {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 16px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: o.5rem 1 rem;
}

.nav-links:hover {
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: white;
}

.nav-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
