.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
html,
body,
#app,
#app > div {
  height: 100%;
}

.App {
  font-family: "Reem Kufi", sans-serif;
}
