@media all and (min-width: 480px) {
  .background {
    /* padding: 60px 0; */
    /* The image used */
    background: url(./images/lesly-derksen-F4fH5dAfZnE-unsplash.jpg)
      no-repeat center center fixed;

    /* Center and scale the image nicely */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: "100vw";
    height: "100vh";
    position: relative;
  }

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
html,
body,
#app,
#app > div {
  height: 100%;
}

.App {
  font-family: "Reem Kufi", sans-serif;
}
}


/* Styles for CampDetails page  */
.overlay {
  position:absolute;
  min-height: 100%;
  min-width: 100%;
  background: url(./images/lesly-derksen-F4fH5dAfZnE-unsplash.jpg) no-repeat
  center center fixed;
  filter: blur(8px);
  -webkit-filter: blur(4px);
}

.leaflet-container {
  height: 20vh;
}

.campDetails {
    max-width: 800px;
    font-family: 'Reem Kufi', sans-serif;
    margin:auto;

}

.radius {
  border-radius: 10px;
}

/* Styles for Contact page */
.Contact form {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  top: -400px;
}
/* Styles for Add Camp page */
.addcampForm {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
}
/* Styles for Signup page */
.form {
      margin: 0 auto;
      max-width: 500px;
      position: relative;
    }
    .form-group {
      color: white;
      margin-bottom: 10px;
    }
    .bottom-text {
      color: white;
      text-align: center;
      position: relative;
      font-size: 1.2em;
    }
    .signup-header {
      color: white;
      text-align: center;
    }

    /* Styles for Login page */
    .Login form {
      margin: 0 auto;
      max-width: 400px;
      position: relative;
      top: -250px;
    }
    .form-group {
      color: white;
    }
    .login-header {
      color: white;
      text-align: center;
    }

    /* Styles for Navbar */
    
    .navbar-logo {
      color: white;
      justify-self: start;
      margin-left: 20px;
      cursor: pointer;
      align-self: flex-start;
    }

    .fa-campground {
      margin-left: 0.5rem;
      font-size: 1.6rem;
    }
    
    .nav-links {
      color: white;
      text-decoration: none;
      padding: o.5rem 1 rem;
    }
    
    .nav-links:hover {
      background-color: white;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }
    
    .fa-bars {
      color: white;
    }
    
    .nav-mobile {
      display: none;
    }
    
    .menu-icon {
      display: none;
    }

 /* Styles for searchbar on the home page  */
 .search-bar {
  margin-top: 300px;
}

input {
  color: white;
  background: transparent;
  width:100%;
  border: 0;
}

input::placeholder{
  opacity: 1;
  color: white;
}

@-webkit-keyframes autofill {
  to {
    color: grey;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
